body{
font-family:Times new Roman;
background:pink;
padding:40px;
}
.container{
	max-width:500px;
	margin:auto;
	background:white;
	padding:30px;
	border-radius:20px;
	box-shadow:10 10 15px rgba(10,10,10,10.1);
}
h2{
	text-align:center;
	margin-bottom:20px;
	color:#989
}
.subject-list label{
	display:block;
	padding:6px 6px;
	cursor:pointer;
}
.total-box{
	background:blue;
	padding:10px;
	font-size:18px;
	margin:20px 0;
	border-radius:5px;
	cursor:pointer;
}
button:hover{
	background:pink;
}